@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";


$primary: #26a5d3;
$dark: #333333;
$light: #f4f4f4;

@font-face{
	font-family: 'Anders';
	src: asset-url('Anders.ttf') format('truetype');
}

@font-face{
	font-family: 'AvenirLTStd-Book';
	src: asset-url('AvenirLTStd-Book.otf');
}


html{
    width:100%;
    height:100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    
}

body{
    width:100%;
    height:100%;
    color:$dark;
    background-color:$light;
}

#pegahName{font-family: 'Anders';}

//Typography

h1, h2, h3, h4, h5, h6{

    margin: 0 0 35px;
    
    font-family:'AvenirLTStd-Book', "Helvetica Neu", Helvetica, Arial, sans-serif;
    letter-spacing:1px;
}

p{
    margin: 0 0 25px;	
    font-size:18px;
    line-height:1.6em;
    font-family: 'AvenirLTStd-Book';
}

a{
    color:$primary;

}

a:hover, a:focus{

    text-decoration:none;
    color: darken($primary, 20%);
}


// Navigation



// Landing Page

.intro-body{
    display:table-cell;
    vertical-align:middle;

}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
        background-color:transparent;
        border-color:transparent;
        font-family:'AvenirLTStd-Book', "Helvetica Neu", Helvetica, Arial, sans-serif;

    }

    .top-nav-collapse {
        padding: 0;
        background-color:#f1f1f1;
        border:1px solid #dcdcdc; 
        font-family:'AvenirLTStd-Book', "Helvetica Neu", Helvetica, Arial, sans-serif;
    }
    
    .navbar-brand {
      float: left;
      height: 40px;
      padding: 5px 15px;
      font-size: 18px;
      line-height: 20px;
    }
    
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
  background-color:transparent;
}
}

//Projects Section

.project-section{
	width:100%;
	height:100%;
	padding:50px 0;
	color:$dark;
	background-color:$light;
	}

section#contact{
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap; 
  flex-flow: row wrap; 
  display: -webkit-box;
  display: flex;
  font-family:'AvenirLTStd-Book', "Helvetica Neu", Helvetica, Arial, sans-serif;
}

section#contact div { 
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto; 
  width: 200px; 
   
}
section#contact div img { 
  width: 100%; 
  height: auto; 
}
@media screen and (max-width: 400px) {
  section#contact div { margin: 0; }
  section#contact { padding: 0; }
  
}

//footer Section

footer{
	margin-top:10px;
	padding-top:30px;
	height:80px;
	text-align:center;
}

.page-scroll{
	-webkit-transition-property: -webkit-transform;
	-webkit-transition-duration: 5s;
	-moz-transition-property: -webkit-transform;
	-moz-transition-duration: 5s;
}

section#intro { 
  
  font-size: 0;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap; 
  flex-flow: row wrap; 
  display: -webkit-box;
  display: flex;
}
section#intro div { 
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto; 
  width: 200px; 
   
}
section#intro div img { 
  width: 100%; 
  height: auto; 
}
@media screen and (max-width: 400px) {
  section#intro div { margin: 0; }
  section#intro { padding: 0; }
  
}

.section-heading {
    margin-top: 0;
}

.service-box {
    max-width: 400px;
    margin: 50px auto 0;
    @media (min-width: 992px) {
        margin: 20px auto 0;
    }
    p {
        margin-bottom: 0;
    }
}

section#about {
    padding: 100px 0;
}

section#projects {
    padding: 100px 0;
}



//image hover
.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  position: absolute;
  overflow: hidden;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  border-bottom: 1px solid #FFF;
  border-top: 1px solid #FFF;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0,1);
  -ms-transform: scale(0,1);
  transform: scale(0,1);
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
  filter: brightness(0.6);
  -webkit-filter: brightness(0.6);
  
}

.hovereffect h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 17px;
  background-color: transparent;
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,-100%,0);
  transform: translate3d(0,-100%,0);
}

.hovereffect a, hovereffect p {
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
}

.hovereffect:hover a, .hovereffect:hover p, .hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
.btn-outline {
	color: white;
	font-size: 20px;
	border: solid 2px #f6b0a2;
	background: #f6b0a2;
	transition: all 0.3s ease-in-out;
	margin-top: 70px;
	&:hover,
	&:focus,
	&:active,
	&.active {
		color: white;
		background: #f99986;
		border: solid 2px #f99986;
	}
}

.Aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Aligner-item {
  max-width: 50%;
}

.Aligner-item--top {
  align-self: flex-start;
}

.Aligner-item--bottom {
  align-self: flex-end;
}

.flexbox {		
  display: -webkit-flex;		
  display: -ms-flexbox;		
  display: flex;
  overflow: hidden;
}
.flexbox .col {
  flex: 1;
  padding: 20px;
}
.flexbox .col:nth-child(1) { 
  background: white; 
  -webkit-order: 1; 
      -ms-flex-order: 1; 
          order: 1;
}
.flexbox .col:nth-child(2) { 
  background: #eee;
  -webkit-order: 0;
      -ms-flex-order: 0;
          order: 0;
}

.block {
  text-align: left;
}
 
.block:before {
  content: '\200B';
  display: inline-block;
  height: 100%; 
  width: 100%;
  vertical-align: middle;
 }
 
.centered {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  padding: 0 30px;
 }
 
 h2 { white-space: nowrap; }
 
